<%= form_for(cardigan) do |f| %>
  <% if cardigan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cardigan.errors.count, "error") %> prohibited this cardigan from being saved:</h2>

      <ul>
      <% cardigan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
