<p id="notice"><%= notice %></p>

<h1>Cardigans</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cardigans.each do |cardigan| %>
      <tr>
        <td><%= cardigan.brand %></td>
        <td><%= cardigan.color %></td>
        <td><%= link_to 'Show', cardigan %></td>
        <td><%= link_to 'Edit', edit_cardigan_path(cardigan) %></td>
        <td><%= link_to 'Destroy', cardigan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cardigan', new_cardigan_path %>
